<script>
	import { onMount } from 'svelte';
	import { scaleLinear } from 'd3-scale';
	import Piece from './Piece.svelte';

  let svg;
  let width = 200;
  let height = 200;
  let show_points = true;
  let show_lines = true;
  let show_image = false;
  let use_offsets = false;
  let loop_offsets = false;
  
  const rows = 20;
  const cols = 30;

  const PIECE_LEN = 100.0/(Math.max(rows,cols));//todo separate PIECE_LEN x and y
  const NOISE = 0.8;
 
  const points = [];

//   for (let r = 0; r <= rows; r++) {
//     for (let c = 0; c <= cols; c++) {
//       points.push( {x: c * PIECE_LEN, y : r * PIECE_LEN});
//   }
// }

  for (let r = 0; r <= rows; r++) {
    for (let c = 0; c <= cols; c++) {
      let x_noise = (Math.random() - 0.5)* NOISE * PIECE_LEN;
      let y_noise = (Math.random() - 0.5)* NOISE * PIECE_LEN;
      if (r == 0 || r == rows || c == 0 || c == cols) {
        x_noise = 0;
        y_noise = 0;
      }
      points.push( {x: c * PIECE_LEN + x_noise, y : r * PIECE_LEN + y_noise});
  }
}

  const edges_horizontal = [];
  for (let r = 0; r <= rows; r++) {
    for (let c = 0; c < cols; c++) {
      edges_horizontal.push({from: r * (cols+1) + c, to: r * (cols+1) + c + 1, is_outer: r == 0 ||  r == rows});
    }
  }

  const edges_vertical = [];
  for (let c = 0; c <= cols; c++) {
    for (let r = 0; r < rows; r++) {
      let from_idx = r * (cols+1) + c;
      let to_idx = r * (cols+1) + c + cols + 1;
      edges_vertical.push({from: r * (cols+1) + c, to: to_idx, is_outer: c == 0 || c == cols});
    }
  }
  const pieces = [] ;
  for (let r = 0; r < rows; r++) {
    for (let c = 0; c < cols; c++) {
      let top_left = r * (cols) + c;
      let upper = edges_horizontal[top_left];
      let lower = edges_horizontal[top_left + cols];
      
      top_left = c * (rows) + r;
      let left = edges_vertical[top_left];
      let right = edges_vertical[top_left + rows];
      
      let new_piece = {
        edges_horizontal: [upper, lower],
        edges_vertical: [left, right],
        points: [left.from, left.to, right.to, right.from],
        offset: { x:(Math.random() - 0.5)* 100.0,
                  y:(Math.random() - 0.5)* 100.0}
      }
      pieces.push(new_piece);
    }
  }
	const padding = { top: 20, right: 40, bottom: 40, left: 20 };
	$: xScale = scaleLinear()
		.domain([0, 100])
		.range([padding.left, width - padding.right]);

	$: yScale = scaleLinear()
		.domain([0, 100])
		.range([padding.bottom, height -padding.top]);

	function resize() {
	({ width, height } = svg.getBoundingClientRect());
	}
  
	// onMount(resize);
</script>

<svelte:window on:resize='{resize}'/>

<main>
  <div class="glitchButton" style="position:absolute;top:20px;right:20px;"></div>
  <h1>The jig is up!</h1>
  <label>
    <input type=checkbox bind:checked={show_points}>
    Show points
  </label>
  <label>
    <input type=checkbox bind:checked={show_lines}>
    Show lines
  </label>
  <label>
    <input type=checkbox bind:checked={show_image}>
    Show image
  </label>
  <label>
    <input type=checkbox bind:checked={use_offsets}>
    Shuffle pieces
  </label>
  <label>
    <input type=checkbox bind:checked={loop_offsets}>
    Loop Shuffle 
  </label>
  <div class="svgHolder" bind:clientWidth={width} bind:clientHeight={height}>
    <svg bind:this={svg} on:mount='{resize}'>
      {#each pieces as piece, id}
        <Piece {id} {piece} {points} {loop_offsets} {use_offsets} {show_points} {show_lines} {show_image} {xScale} {yScale}/>
      {/each}
    </svg>
  </div>
</main>

<style>
  svg {
		width: 100%;
		height: 100%;
	}
.svgHolder {
		width: 80%;
		height: 100%;
    margin: auto;
    display: block;
	}
  main {
    height: 100vh;
  }

	circle {
		fill: orange;
		fill-opacity: 0.6;
		stroke: rgba(0,0,0,0.5);
	}

	.tick line {
		stroke: #ddd;
		stroke-dasharray: 2;
	}

	text {
		font-size: 12px;
		fill: #999;
	}

	.x-axis text {
		text-anchor: middle;
	}

	.y-axis text {
		text-anchor: end;
	}
</style>
