<script>
export let use_offsets;
export let loop_offsets;
export let show_points;
export let show_lines;
export let show_image;
export let piece;
export let xScale;
export let yScale;
export let points;
export let id;
$: transform = (use_offsets && !loop_offsets) ? `translate(${piece.offset.x}, ${piece.offset.y})` : '';
$: clip_path = piece.points.map(pt => `${xScale(points[pt].x)},${yScale(points[pt].y)}`).join(" ")
</script>
<defs>
  <clipPath id="clip-path-{id}"> 
         <path d="M {xScale(points[piece.points[0]].x)},{yScale(points[piece.points[0]].y)} L{clip_path} C"></path>
         <!-- <path d="M0,100 L10,0 L10,10 L0,10 C">/</path> -->
             <!-- <polygon points="130,0 0,160 0,485 270,645 560,485 560,160" /> -->
             <!-- <polygon points="13,0 0,160 0,485 170,645 560,485 56,16" /> -->
  </clipPath>
</defs>
<g {transform}>

{#if loop_offsets}
<animateTransform
  attributeName="transform"
  type="translate"
  from="0 0"
  to="{piece.offset.x} {piece.offset.y}"
  dur="2s"
  begin="0s"
  repeatCount="indefinite"
  />
{/if}

{#if show_image}
<image preserveAspectRatio="none" xlink:href="https://amedee.me/img/nile_delta.jpg" 
 clip-path="url(#clip-path-{id})" width="100%" height="100%"/>
{/if}

<!-- We draw the points here vvv -->
{#if show_points}
  {#each piece.points as point}
      <circle cx='{xScale(points[point].x)}' cy='{yScale(points[point].y)}' r='5'/>
  {/each}
{/if}
<!-- We draw the points here ^^^^ -->

{#if show_lines}
{#each piece.edges_horizontal as edge}
<line 
  x1='{xScale(points[edge.from].x)}'
  y1='{yScale(points[edge.from].y)}'
  x2='{xScale(points[edge.to].x)}'
  y2='{yScale(points[edge.to].y)}'
  stroke='{edge.is_outer ? "rgb(255,128,0)": "rgb(6,120,155)"}'
  stroke-width=2
/>
{/each}
 
{#each piece.edges_vertical as edge}
<line 
  x1='{xScale(points[edge.from].x)}'
  y1='{yScale(points[edge.from].y)}'
  x2='{xScale(points[edge.to].x)}'
  y2='{yScale(points[edge.to].y)}'
  stroke='{edge.is_outer ? "rgb(255,128,0)": "rgb(6,120,155)"}'
  stroke-width=2
/>
{/each}
{/if}
</g>